<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHOcFBWX7wv3skDxq-qa7FJivirmNwNxE</string>
	<key>GCM_SENDER_ID</key>
	<string>671270482741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emailrun2.ResFinder</string>
	<key>PROJECT_ID</key>
	<string>resfinder-4dd60</string>
	<key>STORAGE_BUCKET</key>
	<string>resfinder-4dd60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671270482741:ios:708b4767e72efc93bbd27c</string>
</dict>
</plist>